#!/bin/bash

if [[ $# > 0 ]]; then
        vdiUser="$1"
        shift
else
        vdiUser=$( zenity --entry --title="VDI terminal" --text="Benutzername:" )
        [[ -n ${vdiUser} ]] || exit 1
fi

if [[ $# > 0 ]]; then
        vdiPassword="$1"
        shift
else
        vdiPassword=$(zenity --entry --title="VDI terminal" --text="Passwort:" --hide-text)
        [[ -n ${vdiPassword} ]] || exit 1
fi


trap 'exit' SIGINT SIGKILL

xfreerdp /sound:sys:alsa /gdi:hw /f /kbd:${keyboardLayout} /cert-ignore /u:"${vdiUser}" /p:"${vdiPassword}" /v:"{{vpc_ip_address}}"