<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M122 Automatisierte Webserver Installation</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>M122 Automatisierte Webserver Installation</h1>
            <h2>{{server_info}}</h2>
        </header>
        <main>
            <p>Dieser Webserver wurde automatisiert durch Ansible installiert und diese Webseite darauf geladen.</p>
        </main>
    </div>
</body>
</html>
